<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/shop.css" th:href="@{/css/shop.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css"
          th:href="@{/bootstrap/css/bootstrap.css}"/>
</head>
<body>
<div id="max">
    <header>

        <div class="min">
            <ul class="header_ul_left">
                <li class="glyphicon glyphicon-home"><a href="shouye.html" class="aa">首页</a></li>
                <li class="glyphicon glyphicon-map-marker"><a href="javascript:;">北京</a>
                    <ol id="beijing">
                        <li style="background: red;"><a href="javascript:;" style="color: white;">北京</a></li>
                        <li><a href="javascript:;">上海</a></li>
                        <li><a href="javascript:;">天津</a></li>
                        <li><a href="javascript:;">重庆</a></li>
                        <li><a href="javascript:;">河北</a></li>
                        <li><a href="javascript:;">山西</a></li>
                        <li><a href="javascript:;">河南</a></li>
                        <li><a href="javascript:;">辽宁</a></li>
                        <li><a href="javascript:;">吉林</a></li>
                        <li><a href="javascript:;">黑龙江</a></li>
                        <li><a href="javascript:;">内蒙古</a></li>
                        <li><a href="javascript:;">江苏</a></li>
                        <li><a href="javascript:;">山东</a></li>
                        <li><a href="javascript:;">安徽</a></li>
                        <li><a href="javascript:;">浙江</a></li>
                        <li><a href="javascript:;">福建</a></li>
                        <li><a href="javascript:;">湖北</a></li>
                        <li><a href="javascript:;">湖南</a></li>
                        <li><a href="javascript:;">广东</a></li>
                        <li><a href="javascript:;">广西</a></li>
                        <li><a href="javascript:;">江西</a></li>
                        <li><a href="javascript:;">四川</a></li>
                        <li><a href="javascript:;">海南</a></li>
                        <li><a href="javascript:;">贵州</a></li>
                        <li><a href="javascript:;">云南</a></li>
                        <li><a href="javascript:;">西藏</a></li>
                        <li><a href="javascript:;">陕西</a></li>
                        <li><a href="javascript:;">甘肃</a></li>
                        <li><a href="javascript:;">青海</a></li>
                        <li><a href="javascript:;">宁夏</a></li>
                        <li><a href="javascript:;">新疆</a></li>
                        <li><a href="javascript:;">港澳</a></li>
                        <li><a href="javascript:;">台湾</a></li>
                        <li><a href="javascript:;">钓鱼岛</a></li>
                        <li><a href="javascript:;">海外</a></li>
                    </ol>
                </li>
            </ul>
            <ul class="header_ul_right">
                <li style="border: 0;"><a href="../登录页面\index.html" class="aa">你好，请登录</a></li>
                <li><a href="../注册页面\index.html" style="color: red;">免费注册</a> |</li>
                <li><a href="javascript:;" class="aa">我的订单</a> |</li>

            </ul>
        </div>
    </header>
    <nav>
        <div class="nav_min">
            <div class="nav_top">
                <div class="nav_top_one"><a href="#"><img src="../static/img/logo1.jpg" th:src="@{/img/logo1.jpg}"/></a>
                </div>
                <div class="nav_top_two"><input type="text"/>
                    <button>搜索</button>
                </div>
                <div class="nav_top_three"><a href="../JD_Shop/One_JDshop.html">我的购物车</a><span
                        class="glyphicon glyphicon-shopping-cart"></span>
                    <div class="nav_top_three_1">
                        <img src="../static/img/44.png" th:src="@{/img/44.png}"/>购物车还没有商品，赶紧选购吧！
                    </div>
                </div>
            </div>
            <div class="nav_down">
                <ul class="nav_down_ul">
                    <li class="nav_down_ul_1" style="width: 24%;float: left;"><a href="javascript:;">全部商品分类</a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>

</div>


<div class="crumb-wrap">
    <div class="w">


    </div>
</div>
<div class="Shop">
    <div class="box">
        <div class="box-one ">
            <div class="boxx">

                <div class="imgbox">
                    <div class="probox">
                        <img class="img1" alt="" th:src="${skuInfo?.skuDefaultImg}" src="../static/img/1.jpg">
                        <div class="hoverbox"></div>
                    </div>
                    <div class="showbox">
                        <img class="img1" alt="" th:src="${skuInfo?.skuDefaultImg}" src="../static/img/1.jpg">
                    </div>
                </div>

                <div class="box-lh">

                    <div class="box-lh-one">
                        <ul>
                            <li th:each="skuImage:${skuInfo?.skuImageList}">
                                <img th:src="${skuImage.imgUrl}"/>
                            </li>
                        </ul>
                    </div>
                    <div id="left">
                        <
                    </div>
                    <div id="right">
                        >
                    </div>

                </div>

                <div class="boxx-one">
                    <ul>
                        <li>

                        </li>
                        <li>

                        </li>
                    </ul>
                </div>

            </div>
            <div class="box-two">
                <!--skuInfo防止后台skuInfo对应的对象为空,也可以正常现实-->
                <div class="box-name" th:text="${skuInfo?.skuName}">
                    测试
                </div>


                <div class="box-summary clear">
                    <ul>
                        <li>售价</li>
                        <li>
                            <span>￥</span>
                            <span th:text="${skuInfo?.price}">1.00</span>
                        </li>
                        <li>

                        </li>
                        <li>
                            <a href="">

                            </a>
                        </li>
                    </ul>
                </div>
                <div class="box-wrap clear">

                </div>
                <div class="box-stock">
                    <ul class="box-ul">
                        <li>重 量:</li>
                        <li class="box-stock-li">
                            <div class="box-stock-one">
                            </div>


                        </li>
                        <li th:text="${skuInfo?.weight}+' kg'">
                            10 kg
                        </li>

                    </ul>
                </div>

                <div class="box-attr-3">
                    <br/>
                    <div class="box-attr-2 clear" th:each="productSaleAttr : ${productSaleAttrList}">
                        <dl>
                            <dt th:text="${productSaleAttr.saleAttrName}">销售属性1</dt>
                            <dd th:class="${productSaleAttrValue.isChecked}?'redborder':''"
                                th:each="productSaleAttrValue : ${productSaleAttr.productSaleAttrValueList}">
                                <div th:value="${productSaleAttrValue.id}"
                                     th:text="${productSaleAttrValue.saleAttrValueName}">
                                    销售属性值
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <br/>
                </div>

                <div class="box-btns clear">
                    <div class="box-btns-one">
                        <form id="itemForm" action="http://cart.gmall.com:8087/addToCart" method="post">
                            <input type="text" name="num" id="" value="1"/>
                            <input type="hidden" name="skuId" th:value="${skuInfo?.id}"/>

                            <div class="box-btns-one1">

                                <div>
                                    <button type="button" id="jia">
                                        +
                                    </button>
                                </div>
                                <div>
                                    <button type="button" id="jian">
                                        -
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div id="cartBtn" style="cursor:pointer;" canClick="1" onclick="addToCart(this)"
                         class="box-btns-two">

                        放入购物车

                    </div>
                </div>


            </div>

        </div>
    </div>


    <div class="ShopXiangqing">
        <div class="allLeft">
            <div class="huoreyuyue">
                <h3>店铺热销</h3>
            </div>
            <div class="dangeshopxingqing">
                <ul class="shopdange">
                    <li>
                        <a href="##"><img src="../static/img/e25cedad2debc25e.jpg"
                                          th:src="@{/img/e25cedad2debc25e.jpg}"/></a>
                        <p>
                            <a href="##">吉普JEEP牛仔裤男修身新品厚款直筒长裤子男士牛仔裤宽松休闲男裤 A312蓝色（厚款） 32（2尺4腰围）</a>
                        </p>
                        <p><strong class="J-p-20015341974">￥158.00</strong></p>
                    </li>
                    <li>
                        <a href="##"><img src="../static/img/e583bed35b8257b6.jpg"
                                          th:src="@{/img/e583bed35b8257b6.jpg}"/></a>
                        <p>
                            <a target="_blank" title="吉普JEEP休闲裤男天丝2020春夏季新品中腰直筒宽松男裤子商务男裤 B601深蓝 32码=2尺4"
                               href="/item.html.bak/item.jd.com/20348283521.html">吉普JEEP休闲裤男天丝2020春夏季新品中腰直筒宽松男裤子商务男裤
                                B601深蓝 32码=2尺4</a>
                        </p>
                        <p><strong class="J-p-20348283521">￥158.00</strong></p>
                    </li>
                    <li>
                        <a href="##"><img src="../static/img/e25cedad2debc25e.jpg"
                                          th:src="@{/img/e25cedad2debc25e.jpg}"/></a>
                        <p>
                            <a href="##">吉普JEEP牛仔裤男修身新品厚款直筒长裤子男士牛仔裤宽松休闲男裤 A312蓝色（厚款） 32（2尺4腰围）</a>
                        </p>
                        <p><strong class="J-p-20015341974">￥158.00</strong></p>
                    </li>
                    <li>
                        <a href="##"><img src="../static/img/e583bed35b8257b6.jpg"
                                          th:src="@{/img/e583bed35b8257b6.jpg}"/></a>
                        <p>
                            <a target="_blank" title="吉普JEEP休闲裤男天丝2020春夏季新品中腰直筒宽松男裤子商务男裤 B601深蓝 32码=2尺4"
                               href="/item.html.bak/item.jd.com/20348283521.html">吉普JEEP休闲裤男天丝2020春夏季新品中腰直筒宽松男裤子商务男裤
                                B601深蓝 32码=2尺4</a>
                        </p>
                        <p><strong class="J-p-20348283521">￥158.00</strong></p>
                    </li>
                </ul>
            </div>
            <div class="huoreyuyue">
                <h3>店铺新品</h3>
            </div>
            <div class="dangeshopxingqing">
                <ul class="shopdange">
                    <li>
                        <a href="##"><img src="../static/img/5664d30ce7fe00a7.jpg"
                                          th:src="@{/img/5664d30ce7fe00a7.jpg}"/></a>
                        <p>
                            <a target="_blank" title="吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男 5013蓝色 L码建议140-155斤左右"
                               href="/item.html.bak/item.jd.com/17931625443.html">吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男
                                5013蓝色 L码建议140-155斤左右</a>
                        <p><strong class="J-p-17931625443">￥238.00</strong></p>
                    </li>
                    <li>
                        <a href="##"><img src="../static/img/5664d30ce7fe00a7.jpg"
                                          th:src="@{/img/5664d30ce7fe00a7.jpg}"/></a>
                        <p>
                            <a target="_blank" title="吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男 5013蓝色 L码建议140-155斤左右"
                               href="/item.html.bak/item.jd.com/17931625443.html">吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男
                                5013蓝色 L码建议140-155斤左右</a>
                        <p><strong class="J-p-17931625443">￥238.00</strong></p>
                    </li>

                    <li>
                        <a href="##"><img src="../static/img/5664d30ce7fe00a7.jpg"
                                          th:src="@{/img/5664d30ce7fe00a7.jpg}"/></a>
                        <p>
                            <a target="_blank" title="吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男 5013蓝色 L码建议140-155斤左右"
                               href="/item.html.bak/item.jd.com/17931625443.html">吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男
                                5013蓝色 L码建议140-155斤左右</a>
                        <p><strong class="J-p-17931625443">￥238.00</strong></p>
                    </li>
                    <li>
                        <a href="##"><img src="../static/img/5664d30ce7fe00a7.jpg"
                                          th:src="@{/img/5664d30ce7fe00a7.jpg}"/></a>
                        <p>
                            <a target="_blank" title="吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男 5013蓝色 L码建议140-155斤左右"
                               href="/item.html.bak/item.jd.com/17931625443.html">吉普JEEP长袖衬衣2020秋冬季新品男装纯色上衣青中年男士商务休闲衬衫男
                                5013蓝色 L码建议140-155斤左右</a>
                        <p><strong class="J-p-17931625443">￥238.00</strong></p>
                    </li>
                </ul>
            </div>
        </div>
        <!--商品介绍-->
        <div class="allquanbushop">
            <ul class="shopjieshao">
                <li class="jieshoa" style="background: #e4393c;">
                    <a href="##" style="color: white;">商品介绍</a>
                </li>
                <li class="baozhuang">
                    <a href="##">规格与包装</a>
                </li>
                <li class="baozhang">
                    <a href="##">售后保障</a>
                </li>
                <li class="pingjia">
                    <a href="##">商品评价(10万+)</a>
                </li>

            </ul>

            <ul class="shopjieshaos posi" style="display: none;">
                <li class="jieshoa" style="background: #e4393c;">
                    <a href="#li1" style="color: white;">商品介绍</a>
                </li>
                <li class="baozhuang">
                    <a href="#li2">规格与包装</a>
                </li>
                <li class="baozhang">
                    <a href="#li3">售后保障</a>
                </li>
                <li class="pingjia">
                    <a href="#li4">商品评价(4万+)</a>
                </li>

            </ul>

            <!--商品详情-->
            <div class="huawei">
                <ul class="xuanxiangka">
                    <li class="jieshoa actives" id="li1">
                        <div class="shanpinsssss">
                            <p>
                                <a href="#">商品品牌:吉普（JEEP）</a>
                            </p>
                            <table>
                                <tr>
                                    <td>
                                        <a href="##">商品名称：吉普JEEP短袖T恤男休闲...</a>
                                    </td>
                                    <td>
                                        <a href="##">商品毛重：0.58kg</a>
                                    </td>
                                    <td>
                                        <a href="##">商品编号：5544038</a>
                                    </td>
                                    <td>
                                        <a href="##">商品产地：中国大陆</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="##">材质:棉</a>
                                    </td>
                                    <td>
                                        <a href="##">工艺:水洗</a>
                                    </td>
                                    <td>
                                        <a href="##">领型:翻领</a>
                                    </td>
                                    <td>
                                        <a href="##">厚度:常规</a>
                                    </td>
                                </tr>

                            </table>
                            <img class="xiaoguo" src="../static/img/5a0d4181Nf70c5ebf.jpg"
                                 th:src="@{/img/5a0d4181Nf70c5ebf.jpg}"/>
                            <img class="xiaoguo" src="../static/img/c9324c6d09816e85.jpg"
                                 th:src="@{/img/c9324c6d09816e85.jpg}"/>
                            <img class="xiaoguo" src="../static/img/7361781e04eba481.jpg"
                                 th:src="@{/img/7361781e04eba481.jpg}"/>


                            <!--厂家服务-->

                            <div class="lianBao">

                            </div>

                        </div>


                    </li>
                    <!--评价-->
                    <li class="PINgjia actives" id="li4">

                </ul>
            </div>
        </div>
    </div>
</div>


<div class="Fixedbian">
    <ul>
        <li class="li1"><a class="aaa" href="##">顶部</a></li>
    </ul>
</div>
<div class="gouwuchexiaguo">
    <img src="/img/44.png"/>
    <span>购物车还没有商品，赶紧选购吧！</span>
</div>
</body>

<script src="/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/js.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/spu.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    function addToCart(obj) {
        var canClick = $(obj).attr("canClick");
        if (canClick == '0') {
            return;
        }
        $("#itemForm").submit();
    }

    /**
     * 完成sku切换
     */
    function switchSku() {
        // 1.获取页面所中所有红色边框属性值id
        var saleAttrValId = "";
        $(".redborder div").each(function (index, item) {
            // 拼接所有的销售属性id
            /**
             * 三目运算
             */
            (index != $(".redborder div").length - 1) ? saleAttrValId += $(item).attr("value") + "#" : saleAttrValId += $(item).attr("value");

            /**
             * if-else写法
             if(index != $(".redborder div").length-1){
                saleAttrValId += $(item).attr("value") + "#";
            }else{
                saleAttrValId += $(item).attr("value");
            }
             */
        })

        // 2.根据销售属性值id拼接作为key去json对象中获取对应的value(skuId)
        var skuId = saleAttrValueIdAndSkuId[saleAttrValId];

        // 3.跳转到对应的sku页面
        window.location.href = "/shop/product/" + skuId + ".html";
    }

</script>

</html>
